body {
            background-color: #8B572A;
            color: #fff;
            font-family: 'Segoe UI', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .ranking {
            background: #d9d9d9;
            border-radius: 20px;
            padding: 20px 40px;
            text-align: center;
            width: 250px;
        }

        .ranking h2 {
            color: white;
            margin-bottom: 20px;
        }

        .jugador {
            color: black;
            background: transparent;
            padding: 8px;
            border-bottom: 1px solid #aaa;
        }

        